.example-card {
    max-width: 400px;
    min-width: 300px;
    margin: 10px;
    border: 3px solid #000;
    border-radius: 30px !important;
}

.example-header-image {
    background-image: url('https://i.ibb.co/CQZsthb/logoss.jpg');
    background-size: cover;
}

mat-card-content {
    font-size: 18px;
    font-weight: bold;
    color: rgb(148, 100, 10);
    padding-top: 15px;
}

.buttons {
    text-align: center;
    display: flex;
    align-content: center;
}

.card-box {
    display: flex;
    align-items: space-around;
    text-align: center;
    align-self: center;
    align-content: space-between;
}

.gr-thumbnail {
    height: 250px;
    width: 200px;
    margin-left: 10%;
    padding-left: 3%;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

@media screen and (max-width: 500px) {
    .example-card {
        max-width: 100%;
        min-width: 100%;
        margin-right: 30px;
    }
}