<div class=" container-fluid mt-3 pb-2">
    <div class="mt-3 mb-2 text-center">
        <h2><strong> {{studentName}} ඇතුළත්වූ පාඨමාලා</strong></h2>

    </div>
    <hr>
    <div class="mt-5 mb-3 card-box" fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16px grid" *ngIf="cour.length && checkstatuss==='active'">

        <div class="mt-3" fxFlex="30%" fxFlex.xs="100%" fxFlex.md="40%" fxFlex.sm="50%" *ngFor="let course of cour">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{course.courseName + ' ' + course.class}} </mat-card-title>
                </mat-card-header>
                <br>

                <div [ngStyle]="{'background-image': 'url(' + course.thumbnail+ ')'}" class="gr-thumbnail">

                </div>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <p>
                        <b> </b> {{course.teacher[0].teacherName}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="buttons">
                        <button mdbBtn color="orange" rounded="true" block="true" class="my-4 waves-effect z-depth-0" mdbWavesEffect routerLink="course/{{course.courseId}}">
              ඇතුලුවන්න
              </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>


    </div>

    <div class="text-center mt-5 pt-3 pb-5 mb-5" *ngIf="checkstatuss==='deactive'">

        <h2>
            <strong>ඔබගේ ගිණුම තාවකාලිකව ක්‍රියා විරහිත කර ඇත. පංති ගාස්තු ගෙවීමෙන් අනතුරුව නැවත ක්‍රියාත්මක වනු ඇත.
                      </strong>
        </h2>

        <h3>
            <br> විමසීම් 0771385116
        </h3>

    </div>

    <div class="text-center mt-5 pt-3 pb-5 mb-5" *ngIf="checkstatuss==='pending'">

        <h2>
            <strong>ඔබගේ ගිණුම තවමත් ක්රියාත්මක කර නැත. පංති ගාස්තු ගෙවූ බව තහවුරු කිරීමෙන් පසු ක්රියාත්මක කරනු ලැබේ
                       </strong>
        </h2>

        <h3>
            <br> විමසීම් 0771385116
        </h3>

    </div>
</div>