<div appNoRightClick>
    <div *ngIf="cour">
        <div class="top-content">
            <div class="mt-3 mb-2 text-center">
                <h2><strong> වැඩසටහන: {{selected}}</strong></h2>
            </div>
            <hr>
        </div>
        <div class="bottom-content row">

            <div class="col-md-12 course-list">

                <div class="player-content">
                    <div class="video">

                        <!-- <video width="100%" controls (click)="toggleVideo()" #videoPlayer>
          <source src="{{playlink}}" type="video/mp4" />
          Browser not supported
      </video>-->

                        <div style="position:absolute; padding-top: 56.25%;" appNoRightClick *ngIf="vtype=='y'">
                            <iframe width="500px" height="300px" [src]='playlink' title="YouTube video player" frameborder="0" loading="lazy" style="border: none; position: absolute; top: 0;left:0;right:0" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                                appNoRightClick fs="0"></iframe>

                            <div id="overlay"></div>

                        </div>


                        <!--
                      <div style="position: relative; padding-top: 56.25%;" *ngIf="vtype=='b'"><iframe [src]='playlink' loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>
-->
                        <div style="position: relative; padding-top: 56.074766355140184%;" *ngIf="vtype=='b'"><iframe [src]="playlink" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>
                        <!--    <div style="position: relative; padding-top: 56.25%;"><iframe src="https://iframe.mediadelivery.net/embed/4858/1c56b1e1-8988-4f58-bea5-cee79c571b88?autoplay=true" loading="lazy" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;" allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
                          allowfullscreen="true"></iframe></div>
              </div>
          </div>
      -->

                        <div class="other-details mb-2">
                            <!-- <div class="next-prev">
                              <button mat-button color="gray">< Previous</button>
                              <p style=" font-size:38px; color:gray;"> | </p> <button mat-button color="gray">Next > </button>
                          </div> -->
                            <p style=" font-size:28px; color:gray;"> තාක්ෂණ සහය | 077 138 31 16 </p>

                        </div>

                    </div>

                </div>

            </div>





            <div *ngIf="!course" class="mt-5 pt-5 mb-5 text-center">
                <h2><b>පාථමාලාව තවමත් විවෘතව නැත</b></h2>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8 pb-3">
                <div class="buttons">
                    <button class="button" id="play-button">PLAY</button>
                    <button class="button" id="pause-button">PAUSE</button>
                    <button class="button" id="stop-button">STOP</button>
                </div>
                <h4 *ngIf="details!=''"><strong> ගුරුවරයාගේ සටහන් </strong></h4>
                <hr>
                <p>{{details}}</p>
            </div>
            <div class="col-md-4">
                <div *ngFor="let video of cour">
                    <mat-card class=" now-playing example-card" *ngIf="now_playing_id == video.title">
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <img mat-card-image src="./assets/images/scraper/video_icon.png" class="vid-icon" alt="Video">
                                </div>
                                <div class="col-md-8">
                                    <h4>{{video.title}}</h4>
                                    <p>
                                        <b>ඉගැන්වීම : </b>
                                    </p>
                                    <div class="play-icon pause">
                                        <mdb-icon fas icon="pause"></mdb-icon>
                                        <span style="font-size:16px;">
          නවත්වන්න
         </span>
                                    </div>
                                    <br>
                                </div>
                            </div>

                        </mat-card-content>

                    </mat-card>
                    <mat-card class="example-card" *ngIf="now_playing_id != video.title" appNoRightClick (click)="selectvideo(video.link,video.type,video.comment,video.title)">
                        <mat-card-content>
                            <div class="row">
                                <div class="col-md-3 text-center">
                                    <img mat-card-image src="./assets/images/scraper/video_icon.png" alt="Video">
                                </div>
                                <div class="col-md-8">
                                    <h5>{{video.title}}</h5>
                                    <p>

                                    </p>
                                    <div class="play-icon">
                                        <mdb-icon fas icon="play" (click)="selectvideo(video.link,video.type,video.comment,video.title)"></mdb-icon>
                                        <span style="font-size:14px;">
          නරඹන්න
         </span>
                                    </div>
                                    <br>
                                </div>
                            </div>

                        </mat-card-content>

                    </mat-card>
                </div>
            </div>
        </div>

        <script>
            // global variable for the player
            var player;

            // this function gets called when API is ready to use
            function onYouTubePlayerAPIReady() {
                // create the global player from the specific iframe (#video)
                player = new YT.Player('video', {
                    events: {
                        // call this function when player is ready to use
                        'onReady': onPlayerReady
                    }
                });
            }

            function onPlayerReady(event) {
                alert("hi")
                    // bind events
                var playButton = document.getElementById("play-button");
                playButton.addEventListener("click", function() {
                    player.playVideo();
                });

                var pauseButton = document.getElementById("pause-button");
                pauseButton.addEventListener("click", function() {
                    player.pauseVideo();
                });

                var stopButton = document.getElementById("stop-button");
                stopButton.addEventListener("click", function() {
                    player.stopVideo();
                });

            }

            // Inject YouTube API script
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/player_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
        </script>