<section
  class="text-center px-md-5 mx-md-5 dark-grey-text"
  style="padding-top: 5%"
>
  <div class="row mb-5">
    <div class="col-md-6 mx-auto">
      <img
        src="./assets/images/vectors/error.png"
        class="img-fluid"
      />
    </div>
  </div>

  <h1 class="font-weight-bold mb-4 pb-2">
   404 Not Found!
  </h1>
</section>

<div class="text-center">
  <!-- <button
  mbdBtn
  mdbWavesEffect
  style="margin:0 auto;"
  class="btn btn-secondary btn-lg"
  (click)="backClicked()"
>
  get Back
</button> -->
</div>
