<!--header-->
<!--Section: Content-->
<div class="row homeback">
    <div class="col-md-3">
        <!--   <div style="position:relative;">
           
            <mdb-carousel class="carousel slide carousel-fade cimg" [animation]="'fade'">
                <mdb-carousel-item>
                    <div class="view">
                        <img class="d-block " src="./assets/images/scraper/slider11.jpg" alt="Feature Image 1" class="feature-img">
                        <div class="mask waves-light" mdbWavesEffect></div>
                    </div>
                </mdb-carousel-item>
            </mdb-carousel>
          
        </div>
          -->
        <!--Grid row-->

        <!--Grid row-->
    </div>
    <div class="col-md-6">
        <app-login></app-login>
    </div>
    <div class="col-md-3">

    </div>
</div>

<!--
<div class="container my-5 py-5">

  <hr>

    <section class="px-md-5 mx-md-5 text-center dark-grey-text pd-top-min">

      <h3 class="font-weight-bold">Contact Us</h3>
      <br>

      <div class="row text-center">


        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">

          <i class="fas fa-map-marker-alt fa-2x blue-text"></i>

          <p class="font-weight-bold my-3">Address</p>

          <p class="text-muted">AccSeedd Solutions, Dalugama, Kelaniya</p>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <i class="fas fa-phone fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">Phone number</p>

            <p class="text-muted">+ (94) 71 972 5562</p>

        </div>

        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

            <i class="fas fa-envelope fa-2x blue-text"></i>

            <p class="font-weight-bold my-3">E-mail</p>

            <p class="text-muted">hello@accseedd.com</p>

        </div>
      </div>



    </section>

<hr>



</div> -->