<!-- common navbar-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg sticky-top navbar-light white scrolling-navbar" [containerInside]="false" *ngIf="!userIsAuthenticated">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/scraper/logo_sm.png" height="38" alt="" /> </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <ul class="navbar-nav ml-auto txt-400">
            <li class="nav-item" *ngIf="!onLogin">
                <a mdbWavesEffect class="nav-link txt-bold" routerLink="/signin" (click)="onLogin = !onLogin">
                    <mdb-icon fas icon="sign-in-alt"></mdb-icon>
                    ගිණුමට ඇතුලු වන්න
                </a>
            </li>
            <li class="nav-item" *ngIf="!onRegister">
                <a mdbWavesEffect class="nav-link txt-bold" routerLink="/signup" (click)="onRegister = !onRegister">
                    <mdb-icon fas icon="user-plus"></mdb-icon>
                    නව ගිණුමක් සාදා ගන්න
                </a>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->

<!--user navbar-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg sticky-top navbar-light white scrolling-navbar" [containerInside]="false" *ngIf="userIsAuthenticated  && headerDetails.userType == 'teacher'">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/scraper/logo_sm.png" height="38" alt="" /> </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <ul class="navbar-nav ml-auto txt-400">
            <li class="nav-item">
                <a mdbWavesEffect class="nav-link" routerLink="/contactus">
                    <mdb-icon fas icon="question-circle"></mdb-icon>
                    Contact Support
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                    <img [src]="
              headerDetails
                ? headerDetails.profilePic
                : './assets/images/scraper/user.png'
            " alt="active_user" height="35" class="rounded-circle z-depth-0 img-nav" /></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light mx-wd" mdbWavesEffect routerLink="/teacher">
                        <mdb-icon fas icon="tachometer-alt"></mdb-icon>
                        &emsp; &emsp; Run Scrapers</a>
                    <a class="dropdown-item waves-light mx-wd" mdbWavesEffect routerLink="/teacher/students">
                        <mdb-icon fas icon="tasks"></mdb-icon>
                        &emsp; &emsp; Generated Data</a>

                    <a class="dropdown-item waves-light mx-wd" mdbWavesEffect routerLink="/teacher/settings">
                        <mdb-icon fas icon="user-friends"></mdb-icon>
                        &emsp; &emsp; ගිණුම් සැකසීම් </a>
                    <hr />
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="onSignOut()" routerLink="/">
                        <mdb-icon fas icon="sign-out-alt"></mdb-icon>
                        &emsp; &emsp; ඉවත් වන්න </a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->



<!--admin navbar-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg sticky-top navbar-light white scrolling-navbar" [containerInside]="false" *ngIf="userIsAuthenticated && headerDetails.userType == 'Student'">
    <!-- Navbar brand -->
    <mdb-navbar-brand>
        <a class="navbar-brand" routerLink="/">
            <img src="./assets/images/scraper/logo_sm.png" height="38" alt="" /> </a>
    </mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <ul class="navbar-nav ml-auto txt-400">
            <li class="nav-item">
                <a mdbWavesEffect class="nav-link" target="_blank" href="#">
                    <mdb-icon fas icon="book"></mdb-icon>
                    අමතර උපකාර
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item avatar dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
                    <img [src]="
              headerDetails
                ? headerDetails.profilePic
                : './assets/images/scraper/user.png'
            " alt="active_user" height="35" class="rounded-circle z-depth-0 img-nav" /></a>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light mx-wd" mdbWavesEffect routerLink="/student">
                        <mdb-icon fas icon="tachometer-alt"></mdb-icon>
                        &emsp; &emsp; පාඨමාලා ලැයිස්තුව </a>

                    <a class="dropdown-item waves-light mx-wd" mdbWavesEffect routerLink="/student/settings">
                        <mdb-icon fas icon="user-friends"></mdb-icon>
                        &emsp; &emsp; ගිණුම් සැකසීම් </a>
                    <hr />
                    <a class="dropdown-item waves-light" mdbWavesEffect (click)="onSignOut()" routerLink="/">
                        <mdb-icon fas icon="sign-out-alt"></mdb-icon>
                        &emsp; &emsp; ඉවත් වන්න </a>
                </div>
            </li>
        </ul>
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->